# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Ignore everything in the android folder
android/**

# Allow specific files to be tracked
!android/app/src/main/java/com/anonymous/calcnotebook/MainApplication.kt
!android/app/src/main/java/com/anonymous/calcnotebook/drawingboard/

# Ensure parent directories are tracked
!android/
!android/app/
!android/app/src/
!android/app/src/main/
!android/app/src/main/java/
!android/app/src/main/java/com/
!android/app/src/main/java/com/anonymous/
!android/app/src/main/java/com/anonymous/calcnotebook/
!android/app/src/main/java/com/anonymous/calcnotebook/drawingboard/